tags
swap-pane
nvim/.config/nvim/Plugged
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
VSCodium/.config/VSCodium/CachedExtensions/builtin
VSCodium/.config/VSCodium/CachedExtensions/user
VSCodium/.config/VSCodium/Cookies
VSCodium/.config/VSCodium/Cookies-journal
VSCodium/.config/VSCodium/Network Persistent State
VSCodium/.config/VSCodium/languagepacks.json
VSCodium/.config/VSCodium/machineid
VSCodium/.config/VSCodium/rapid_render.json
VSCodium/.config/VSCodium/storage.json
VSCodium/.config/VSCodium/Backups/
VSCodium/.config/VSCodium/Cache/
VSCodium/.config/VSCodium/CachedData/
VSCodium/.config/VSCodium/GPUCache/
VSCodium/.config/VSCodium/User/globalStorage/
VSCodium/.config/VSCodium/User/workspaceStorage/
VSCodium/.config/VSCodium/logs/
nvim/.config/nvim/pack
