tags
swap-pane
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
VSCodium/.config/VSCodium/**/*
nvim/.config/nvim/pack
tmux/.tmux/plugins/**/*
tmux/.tmux/resurrect/**/*
vifm/.config/vifm/vifminfo.json
vifm/.config/vifm/vifminfo
zsh.d/*.zwc
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zhistory
zsh/.config/zsh/aliases.zsh.zwc
**/*.zwc
zsh/.config/zsh/cache/*
zsh/.config/zsh/.zim
