# Start configuration added by Zim install {{{
# -------
# Modules
# -------

# Sets sane Zsh built-in environment options.
zmodule environment
# Provides handy git aliases and functions.
zmodule git
# Applies correct bindkeys for input events.
zmodule input
# Sets a custom terminal title.
zmodule termtitle
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility
# Sets up asdf, with auto install and optimized usage of the direnv plugin.
zmodule asdf
# Configures fzf for faster fetching of files and directories names.
zmodule fzf
# Sets up helm in zsh.
zmodule joke/zim-helm
zmodule joke/zim-kubectl
zmodule joke/zim-k9s
# Sets up starship prompt in zsh
zmodule joke/zim-starship
# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
# zmodule zsh-users/zsh-syntax-highlighting
# Fish-like history search (up arrow) for Zsh.
# zsh-users/zsh-history-substring-search must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zdharma-continuum/fast-syntax-highlighting
# }}} End configuration added by Zim install

zmodule ohmyzsh/ohmyzsh \
  -f 'plugins/fzf' -s 'plugins/fzf/fzf.plugin.zsh' \
  -f 'plugins/command-not-found' -s 'plugins/command-not-found/command-not-found.plugin.zsh' \
  -f 'plugins/kubectl' -s 'plugins/kubectl/kubectl.plugin.zsh' \
  -f 'plugins/safe-paste' -s 'plugins/safe-paste/safe-paste.plugin.zsh'

# end
