/* dracula */
@define-color bg #0b0d0f;
@define-color bg2 #44475a;
@define-color fg #f8f8f2;
@define-color gray #708ca9;
@define-color cyan #80ffea;
@define-color green #8aff80;
@define-color orange #ffb86c;
@define-color pink #ff80bf;
@define-color purple #9580ff;
@define-color red #ff5555;
@define-color yellow #ffff80;


@keyframes blink {
  to {
    background-color: @purple;
    border-bottom: 3px solid @purple;
    color: @fg;
  }
}

* {
  /* border: none; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-family: 'Fira Sans', feather, sans-serif;
  font-weight: 400;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background-color: @bg2;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

#window {
  padding: 0 10px;
  color: @fg;
}

#workspaces button {
  margin-right: 10px;
  padding: 0 10px;
  background-color: @bg2;
  color: @fg;
  border-bottom: 3px solid @purple;
}

#workspaces button:hover {
  background-color: @bg2;
  color: @purple;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused,
#workspaces button.focused:hover {
  background-color: @purple;
  /* color: @fg; */
}

#workspaces button.urgent {
  background-color: @red;
  border-bottom: 3px solid @red;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-media,
#mpd,
#custom-logout,
#custom-reboot,
#custom-poweroff {
  margin-left: 10px;
  padding: 0 10px;
  color: @fg;
  /* background: @purple; */
  border-bottom: 3px solid @purple;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: @red;
  color: @fg;
  border-bottom: 3px solid @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  /* background-color: @purple; */
  border-bottom: 3px solid @green;
}

#pulseaudio.muted {
  /* background-color: @gray; */
  /* color: @gray; */
  border-bottom: 3px solid @purple;
}

#mpd,
#custom-media.custom-spotify {
  /* background-color: #1ED760; */
  /* color: @bg2; */
  border-bottom: 3px solid @green;
}

#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
  border-bottom: 3px solid @purple;
}

#tray {
  background-color: transparent;
  border: none;
}

#idle_inhibitor {
  /* border-bottom: 3px solid @green; */
}

#idle_inhibitor.activated {
  /* background-color: @green; */
  /* color: @bg2; */
  border-bottom: 3px solid @green;
}

#custom-logout {
  /* background-color: @yellow; */
  /* color: @bg2; */
  border-bottom: 3px solid @yellow;
}

#custom-reboot {
  /* background-color: @orange; */
  /* color: @bg2; */
  border-bottom: 3px solid @orange;
}

#custom-poweroff {
  /* background-color: @red; */
  /* color: @bg2; */
  border-bottom: 3px solid @red;
}
