/* gruvbox colors */
/* https://github.com/morhetz/gruvbox */
/* dark theme */
@define-color bg_h0 #1d2021;
@define-color bg_s0 #32302f;
@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;
@define-color fg0 #a89984;
@define-color fg1 #bdae93;
@define-color fg2 #d5c4a1;
@define-color fg3 #ebdbb2;
@define-color fg4 #fbf1c7;
@define-color gray0 #928374;
@define-color gray1 #a89984;
@define-color red0 #cc241d;
@define-color red1 #fb4934;
@define-color green0 #98971a;
@define-color green1 #b8bb26;
@define-color yellow0 #d79921;
@define-color yellow1 #fabd2f;
@define-color blue0 #458588;
@define-color blue1 #83a598;
@define-color purple0 #b16286;
@define-color purple1 #d3869b;
@define-color aqua0 #689d6a;
@define-color aqua1 #8ec07c;
@define-color orange0 #d65d0e;
@define-color orange1 #fe8019;

/* nord colors */
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Inter, 'Source Sans Pro', 'Fira Sans Medium', 'otf-font-awesome', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @fg4;
  transition-property: background-color;
  transition-duration: .5s;
  /* border: solid 1px @yellow0; */
}

#window {
  padding: 0 10px;
  /* background: @nord2; */
  color: @nord6;
}

#workspaces button {
  margin-right: 10px;
  padding: 0 10px;
  /* background-color: transparent; */
  background-color: @nord10;
  color: @nord6;
  /* border-top: solid 1px @yellow0; */
  /* border-bottom: solid 1px @yellow0; */
}

#workspaces button:first-child,
#workspaces button.focused:first-child {
  /* border-left: solid 1px @yellow0; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: @nord8;
  box-shadow: inherit;
  text-shadow: inherit;
  /* border-top: solid 1px @yellow0; */
  /* border-bottom: solid 1px @yellow0; */
}

#workspaces button.focused,
#workspaces button.focused:hover {
  background-color: @nord8;
  color: @nord0;
  /* border-top: solid 1px @yellow0; */
  /* border-bottom: solid 1px @yellow0; */
}

#workspaces button.urgent {
  background-color: @nord11;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-media,
#custom-weather,
#custom-lock,
#custom-logout,
#custom-reboot,
#custom-poweroff,
#mpd {
  margin-left: 10px;
  padding: 0 10px;
  color: @nord4;
  background: @nord2;
  /* border-top: solid 1px @yellow0; */
  /* border-bottom: solid 1px @yellow0; */
}

#clock {
  /* background-color: #64727D; */
}

#battery {
  /* background-color: #ffffff; */
  /* color: #ffffff; */
}

#battery.charging {
  /* color: #ffffff; */
  /* color: #26A65B; */
}

#battery.warning {
  color: #ffff00;
}

@keyframes blink {
  to {
    background-color: @bg0;
    /* background-color: rgba(28, 28, 28, 0.9); */
    color: @fg4;
  }
}

#battery.critical:not(.charging) {
  background-color: @red1;
  color: @fg4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  /* background-color: #2ecc71; */
  /* color: #000000; */
}

#memory {
  /* background-color: #9b59b6; */
}

#backlight {
  /* background-color: #90b1b1; */
}

#network {
  /* background-color: #2980b9; */
}

#network.disconnected {
  color: #f53c3c;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* color: #000000; */
}

#pulseaudio.muted {
  color: #a0a0a0;
  /* color: #2a5c45; */
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #1ED760;
  color: @bg0;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  /* background-color: #f0932b; */
  /* color: #ffffff; */
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  /* background-color: @nord7; */
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#custom-lock {
  /* background-color: @nord7; */
  /* color: @nord6; */
}

#custom-logout {
  /* background-color: @nord8; */
  /* color: @nord6; */
}

#custom-reboot {
  background-color: @nord12;
  /* color: @nord6; */
}

#custom-poweroff {
  background-color: @nord11;
  /* color: @nord6; */
  /* border-right: solid 1px @yellow0; */
}

#custom-weather {
}
