/* dracula */
@define-color bg #1d1f21;
@define-color bg2 #44475a;
@define-color fg #f8f8f2;
@define-color gray #708ca9;
@define-color cyan #80ffea;
@define-color green #8aff80;
@define-color orange #ffb86c;
@define-color pink #ff80bf;
@define-color purple #9580ff;
@define-color red #ff5555;
@define-color yellow #ffff80;
@define-color blue #478ec6;


@keyframes blink {
  to {
    background-color: @blue;
    border-bottom: 5px solid @blue;
    color: @fg;
  }
}

* {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  font-family: 'Noto Sans', 'Fira Sans', icomoon, sans-serif;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

#window {
  padding: 0 20px;
  color: @fg;
}

#workspaces button {
  margin: 0 10px 0 0;
  padding: 0 0 0 20px;
  color: @fg;
}

#workspaces button:hover {
  color: @blue;
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces button.focused,
#workspaces button.focused:hover {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-media,
#mpd,
#custom-logout,
#custom-reboot,
#custom-poweroff {
  /* margin-left: 10px; */
  padding: 0 20px 0 0;
  color: @fg;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background: @red;
  color: @fg;
  border-bottom: 5px solid @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
}

#pulseaudio.muted,
#pulseaudio.source-muted {
  color: @fg;
}

#tray {
  background-color: transparent;
  border: none;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
  color: @green;
}

#custom-logout {
  color: @yellow;
}

#custom-reboot {
  color: @orange;
}

#custom-poweroff {
  color: @red;
}
